section {
  padding-top: 60px;
}

code {
  background-color: #ffffff;
}

#main_header {
  background: url(../images/devstack.png) top left no-repeat;
  width: 309px;
  height: 45px;
  text-indent: -9999px;
}